
{% extends "base.html" %}

{% block title %}Student list{% endblock %}

{%block body %}

  <h3>Complete list of Students Registered at VU</h3>
  </header>
    <a href = "../student"><button>Back to Main page</button></a>

 <table>
 <tr>
  <th>Roll Number</th>
  <th><a href = "<?php echo($data['actionPath'] . '/first_name'); ?>">First Name</a></th>
  <th><a href = "<?php echo($data['actionPath'] . '/last_name'); ?>">Last Name</a></th>
  <th><a href = "<?php echo($data['actionPath'] . '/semester'); ?>">Semester</a></th>
  <th><a href = "<?php echo($data['actionPath'] . '/major'); ?>">Major</a></th>
  <th><a href = "<?php echo($data['actionPath'] . '/grade'); ?>">Grade</a></th>
  <th>Update</th>
 </tr>

  
  {% for column in list %} 
  echo "<tr>"; 
  echo "<td>{{ column.roll_number }}</td>";
  echo "<td>{{ column.first_name }}</td>";
  echo "<td>{{ column.last_name }} </td>";
  echo "<td>{{ column.semester }}</td>";
  echo "<td>{{ column.major }}</td>";
  echo "<td>{{ column.grade }}</td>";
  <td><a href = " <?php echo ('../edit/' . $value['roll_number']); ?>" >EDIT</a>
   <a href ="<?php echo ('../delete/' . $value['roll_number']); ?> " >DELETE</a></td>
  </tr>
{% endfor %}
  
</table> 

  
{% endblock %}