
{% extends "base.html" %}

{% block title %}Student list{% endblock %}

{% block body %}

  <h3>Complete list of Students Registered at VU</h3>
  </header>
    <a href = "../student"><button>Back to Main Student Section</button></a>

 <table>
 <tr>
  <th>Roll Number</th>
  <th><a href = "{{ column.first_name }}">First Name</a></th>
  <th><a href = "{{ column.last_name }}">Last Name</a></th>
  <th><a href = "{{ column.semester }}">Semester</a></th>
  <th><a href = "{{ column.major }}">Major</a></th>
  <th><a href = "{{ column.grade }}">Grade</a></th>
  <th>Update</th>
 </tr>
  
{% for column in list %} 
  <tr> 
  <td>{{ column.roll_number }}</td>
  <td>{{ column.first_name }}</td>
  <td>{{ column.last_name }} </td>
  <td>{{ column.semester }}</td>
  <td>{{ column.major }}</td>
  <td>{{ column.grade }}</td>
  <td><a href = " <?php echo ('../edit/' . $value['roll_number']); ?>" >EDIT</a>
   <a href ="<?php echo ('../delete/' . $value['roll_number']); ?> " >DELETE</a></td>
  </tr>
{% endfor %}
  
</table> 

  
{% endblock %}